*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Lobster", sans-serif;  
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: url("babek-banner\(1\).jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.bgnner-txt{
    padding: 0 35px;
    width: 40%;
    font-size: 130%;
}
.bgnner-txt h1{
    
    color: yellow;
}
.bgnner-txt h4{
    padding: 25px 0;
    color: #ffffff;
}
.bgnner-txt .button{
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    font-family:"Lobster", sans-serif;  
    font-size: 2rem;
    color: #ffad54;
    text-shadow: 0 0 40px #f07d00;
    background-color: #00000000;
    border: 5px solid #ffad54;
    box-shadow: 0 0 40px #f07d00;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
} 


.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
}

.navbar .links{
    display: flex;
    justify-content: start;
}
.navbar .links a{
    padding: 0 35px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 3px dotted rgba(255, 255, 255, 0)
}
.navbar .logo a img{
    width: 100px;
}

.navbar .contact{
    display: flex;
    padding: 0 20px;
}

.navbar .contact h1{
    text-align: center;
    padding: 5px;
    border: 3px solid yellow;
    border-radius: 500px;
    color: yellow;
    width: fit-content;
    cursor: pointer;
    
}
.navbar .contact ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.navbar .contact ul li{
    padding: 0 10px;
}


.navbar .contact h1:hover{
    background-color: yellow;
    color: #000;
    box-shadow: 0 10px 5px black;
}
.navbar .links a:hover{
    border-bottom: 3px dotted #ffffff;
}
.bgnner-txt .button:hover{
    background-color: #ffad54;
    color: #000;
}
.menu-container{
    padding: 20px;
    text-align: center;
}
.menu-container h1{
    font-size: 350%;
}
.menu-container p{
    font-size: 140%;
    color:#ff8400;
}
.menu-radio{
    display: flex;
    justify-content: center;
}
.food-type{
    text-align: center;
    margin: 25px;
    padding: 10px;
}
.food-type img{
    width: 90px;
}
.food-type:hover{
    transform: scale(1.4);
}
.active{
    background-color: #fe8f18;
    border-radius: 15%;
}
.active:hover{
    transform: initial;
}
#products{
    text-align: center;
}
.products-container {

    text-align: center;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px; 
    max-width: 1200px; 
    margin: auto; 
}

.products-container div {

    padding: 10px;
    text-align: center;
    width: 100%; 
    
}
.products-container div p{
    text-align: start;
    color: #ff6200;
}

.price-command{
    display: flex;
    justify-content: space-between;
}
.price-command h3{
    padding: 5px;
    color:  #000000;
    border-radius: 5px;
    width: fit-content;
    border: 2px solid #000000;
}
.commander{
    background-color: #ff6200;
    box-shadow: 0 5px 0 black;
    cursor: pointer;
}
.commander:hover{
    color: #ffffff;
    text-shadow: 0 5px 20px #ffffff;
    background: linear-gradient(90deg, rgba(255,189,97,1) 0%, rgba(255,0,0,1) 100%);

}

.products-container div .product-img {
    height: 300px;
    background-color: gray;
    border-radius: 20px;
}
#cree-tacos-btn-menu{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 4px dotted black;
    box-shadow: 0 10px 0 #000000;
    background: radial-gradient(circle, rgba(255,189,97,1) 0%, rgba(209,0,255,1) 100%);
    cursor: pointer;

}

.toggle-menu{
    margin-top: 6px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
}
.toggle-menu span{
    margin:3px;
    height: 4px;
    width: 100%;
    background-color: #ffffff;
}

.navbar-mobile{
    padding-top: 100px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(255,166,0,1) 0%, rgba(0,0,0,1) 100%);
    
}
.navbar-mobile .links a{
    padding: 0 35px;
    font-size: 90%em;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 3px dotted rgba(255, 255, 255, 0)
}
.navbar-mobile .contact h1{
    text-align: center;
    padding: 5px;
    border-radius: 500px;
    background-color: yellow;
    color: rgb(0, 0, 0);

    width: fit-content;
    cursor: pointer;
}
.navbar-mobile ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.navbar-mobile .links{
    padding: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.product-img img{
    background-color: #ff620042;
    
    width: 100%;
    height: 100%;
}
.product-img{
    background-image: url("babek_exemple.jpg");
    background-size: cover;
    background-position: center;
}
.panier-container {
    padding-right: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.panier-container span {
    font-size: 2rem;
    cursor: pointer;
} 

#about-section {
    margin-top: 100px;
    margin-bottom: 100px;
    opacity: 0.8;
    background-image: url("blurred-image-restaurant.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    color: white;
    text-align: center;

}

#about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 1px 5px 16px black;
}

#about-section p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    text-shadow: 1px 5px 20px black;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .contact-info {
    margin-bottom: 10px;
}

footer .contact-info p {
    margin: 5px 0;
}

footer .contact-info a {
    color: #4CAF50;
    text-decoration: none;
}

footer .contact-info a:hover {
    text-decoration: underline;
}

footer .copyright {
    font-size: 14px;
    margin-top: 10px;
}

#product-card{
    display: none;
}
.product-card-cointainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.483);
    height: 100vh;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    z-index: 9999;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card{
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 60%;

}
.product-card-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-card-text p{
    color:#ff6200;
}
.product-card-img{
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 40%;
    padding: 10px;
}
.product-card-img img{
    width: 320px;
}
select {
    width: 100%;
    padding: 5px 20px;
    appearance: none;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
select:focus{
    border-color: #ff6200;
}
input {
    width: 100px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    text-align: center;
    transition: border-color 0.3s ease;
}

input:focus{
    border-color: #ff6200;
}
.product-card-text button{
    padding: 12px;
    border-radius: 100px;
    border: none;
    background-color: #ff6200;
    color: white;
}
.product-card-close{
    padding: 5px 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    color: white;
    border-radius: 100px;
    background-color: rgb(255, 35, 35);
    cursor: pointer;
}

@media (max-width: 768px){
    .navbar .links, .navbar .contact{
        display: none;
    }
    .banner{
        background-image: url("babek_banner\(phone\).jpg");
    }
    .bgnner-txt{
        font-size: 90%;
        text-align: center;
        width: 100%;
    }
    .bgnner-txt h1{
        font-size: 3rem;
        text-shadow:0px 3px 0px #000;
        margin-bottom: 216px;
    }
    .bgnner-txt h4{
        display: none;
        
    }
    .bgnner-txt .button{
        background-color: #fe8f18;
        color: #000;
    }

    .navbar .logo a img{
        width: 70px;
    }
    .toggle-menu{
        display: flex;
    }
    .menu-radio{
        display: grid;

        grid-template-columns: repeat(2, 1fr) 
    }
    .food-type{
        padding: 6px;
        gap: 0;
    }

    .food-type img{
        display: none;
        flex: 1 1 20px; 
        text-align: center;
    }
    .active{
        border-radius: 20px;
    }

    .panier-container {
        padding-right: 25px;
    }


    .product-details {
        width: 100%;
        text-align: center;
    }

    .product-image {
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

    .quantity,
    .drink-select,
    .add-to-panier {
        font-size: 14px;
    }
    .product-card-cointainer{
        overflow-y: scroll;
    }

    .product-card{
        flex-direction: column;
        width: 100%;
 
    }
    .product-card-text{
        gap: 10px;
    }
    .product-card-img{
        height:300px;
        width: 100%;
        margin: 10px 0;
    }
    .product-card-close{
        font-size: 1.7rem;
        padding: 2.5px 10px;
    }
}
@media (max-width: 912px) and (min-width: 768px){
    .banner{
        background-image: url("babek_banner\(phone\).jpg");
    }
    .bgnner-txt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 90%;
        text-align: center;
        height: 60%;
        width: 100%;
    }
    .bgnner-txt h1{
        font-size: 3.7rem;
        text-shadow:0px 3px 0px #000;
    }
    .bgnner-txt h4{
        display: none;
        
    }
    .bgnner-txt .button{
        background-color: #fe8f18;
        color: #000;
        padding: 18px 50px;
    }
    .menu-radio{
        display: grid;

        grid-template-columns: repeat(4, 1fr) 
    }
    .navbar .links, .navbar .contact{
        display: none;
    }
    .toggle-menu{
        display: flex;
        width: 50px;
    }

    .toggle-menu span{
        margin:5px;
        height: 6px;

    }
    .navbar{
        padding: 10px 25px;

    }
    .navbar .logo a img{
        width: 104px;
    }
    .product-card{
        flex-direction: column;
        width: 100%;
    }
    .product-card-text{
        gap: 30px;
        width: 90%;
    }
    .product-card-text label{
        gap: 30px;
    }
    .product-card-img{
        height:400px;
        width: 80%;
        margin: 10px 0;
    }
    .product-card-close{
        font-size: 1.7rem;
        padding: 2.5px 10px;
    }
}
